html body{
    overflow-x: hidden;
    font-family: var(--bs-font-sans-serif);
}

#a{
    text-decoration: none;
}

.hidden-spacer {
    height: 56px;
}

.container{
    padding-left: 1%;
}

.intro{
    background: black;
    padding-left: 13%;
    padding-top: 25%;
    padding-right: 8%;
}

.profpic{
    padding-bottom: 5%;
}

.me{
    padding-left: 10%;
    padding-bottom: 5%;
}

.about{
    background: black;
    padding-top: 5%;
    padding-right: 8%;
}

.myskills{
    background: black;
    margin: auto;
    padding-left: 15%;
}

.progress{
    margin-right: 20%;
    margin-bottom: 2%;
    height: 2rem;
}

.mygoals{
    background: black;
    margin: auto;
    padding-left: 15%;
}

.contactme{
    background: black;
    margin: auto;
    padding-left: 33%;
}
